

@{
    ViewData["Title"] = "Home Page";
}

<h1 id="welcome">Add your photo here</h1>
<div id="info"></div>

<form method="post" enctype="multipart/form-data" asp-controller="Api" asp-action="UploadFile" id="upload-widget" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" />
    </div>
</form>

<div id="loader"></div>
<div id="image">
    <svg></svg>
</div>

